.App {
  text-align: center;
  min-height: 100%;
  position: relative;
}

/* width */
::-webkit-scrollbar {
  width: 7px;
  margin: 1px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px white;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 10px;
}

.ant-carousel .slick-slide {
  text-align: center;
  height: 100px;
  line-height: 160px;
  background: white;
  overflow: hidden;
}
.ant-carousel .slick-slide h3 {
  color: #fff;
}

.ant-carousel .slick-slide img {
  width: 240px;
  align-items: center;
  align-content: center;
}
